li {
    font-size: 2rem;
    width: 300px;
    margin: 4px;
    padding: 4px;
    list-style: none
}
.midlaner {background-color: #ffea00}
.toplaner {background-color: #eeeeee}

button {
    display:inline-block;
	padding:0.35em 1.2em;
	border:0.1em solid rgb(94, 48, 48);
	margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    text-align:center !important;
	box-sizing: border-box;
	text-decoration:none;
	font-family:'Roboto',sans-serif;
	font-weight:300;
	color:rgb(177, 47, 47);
	text-align:center;
    transition: all 0.2s;
    }
    button:hover{
        background-color:#FFFFFF;
    }
  